@import "src/variables";
.product-detail {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;

  padding: 32px;

  &__image {
    margin: auto;
    width: #{"min(100%, 500px)"}
  }

  &__info {
    &__subtitle {
      color: $medium-grey;
      font-size: 14px;
      line-height: 14px;
    }

    &__title {
      margin-top: 16px;

      font-size: 24px;
      line-height: 24px;
    }

    &__price {
      margin: 32px 0;

      font-size: 46px;
      line-height: 46px;
      font-weight: lighter;
      &__decimals {
        vertical-align: revert;
        font-size: small;
      }
    }

    &__buy-button {
      background-color: #3483fa;
      width: 100%;
      padding: 15px;

      border-color: transparent;
      border-radius: 4px;
      cursor: pointer;

      color: white;
      font-size: medium;
      font-weight: bold;
    }
  }

  &__description {
    &__title {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 0;
    }

    &__text {
      margin-top: 32px;

      font-size: 16px;
    }
  }
}